.HexBlock {
    position: relative;
    width: 17.82em;
    height: calc(17.82em / 1.6603639801);
    background-color: rgba(255, 255, 255, .8);
    border-left: solid .2em solid #ccc;
    border-right: solid .2em solid #ccc;
    display: inline-block;
    border-radius: 5px;
    text-align: center;   
    margin: 5.89em .69em; 
    box-sizing: border-box;
    padding: 10px;
    opacity: .85;
    text-decoration: none;
    font-size: 16px;
}

.HexBlock:visited {
    color: inherit;
}
.HexBlock:hover,
.HexBlock:hover::after,
.HexBlock:hover::before {
    border-color: #f3bd48;
    opacity: 1;
}

.Collapses {
    margin-top: 0;
}

.HexBlock::after,
.HexBlock::before {
    content: "";
    position: absolute;
    z-index: 1;
    border-radius: inherit;
    width: calc(17.56em / 1.4141922496);
    height: calc(17.56em / 1.4141922496);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 2.38em;
}
/* allows any content inside the hex block to stack on top of before/after elements */
.HexBlock > * {
    position: relative;
    z-index: 2;
}
.HexBlock::after {
    bottom: -6.21em;
    border-bottom: solid .27em #ccc;
    border-left: solid .27em #ccc;
}

.HexBlock::before {
    top: -6.21em;
    border-top: solid .27em #ccc;
    border-right: solid .27em #ccc;
}
/* icon styles */
.HexBlock .Icon {
    font-size: 2.5em;
    display: inline-block;
    transform: translateY(-1em);
}

/* queries to make sure hex blocks wrap in the correct way */
@media screen and (max-width: 993px) {
    .HexBlock.Row3:nth-child(3n) {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media screen and (max-width: 756px) {
    .HexBlock.Row3:nth-child(3n) {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 683px) {
    .HexBlock.Collapses:nth-child(n + 2) {
        margin-top: 94.12px;
    }
    .HexBlock.Row3:nth-child(3n) {
        margin-left: 50px;
        margin-right: 50px;
    }
}


