.Navigation {
    margin-bottom: 4px;
    margin-left: 1em;
}

.Navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: auto;
    max-height: 100px;
}

.Navigation a {
    overflow: hidden;
    color: #2e2e2e;
    display: inline-block;
    width: 100%;
    padding: 4px;
    text-overflow: ellipsis;
}

.Navigation a:visited {
    color: #2e2e2e;
}

@media screen and (min-width: 600px) {
    .Navigation ul {
        max-height: 500px;
    }
}
