.Navigation {
    max-height: 100px;
    margin-bottom: 4px;
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.Navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
}

.Navigation ul li {
    padding: 4px .5em;
}

.Navigation li[data-active="true"] {
    text-decoration: underline;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
}

.Navigation a {
    overflow: hidden;
    color: #2e2e2e;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
}

.Navigation a span {
    margin-left: 5px;
    color: #1a5a96;
}

.Navigation a:visited {
    color: #2e2e2e;
}

@media screen and (min-width: 600px) {
    .Navigation {
        max-height: none;
    }
    .Navigation li[data-active="true"] a {
        transform: translateX(5px);
    }
}
