{
  "presets": ["env", "react"],
  "env": {
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        "babel-plugin-emotion",
        "transform-class-properties"
      ]
    }
  }
}
