
{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "graphql": false
  },
  "extends": ["react-app"],
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "linebreak-style": ["warn", "unix"],
    "semi": ["error", "always"],
    "indent": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "import/no-named-as-default": "off",
    "no-shadow": "off",
    "quote-props": "off",
    "max-len": "off",
    "react/sort-comp": "off",
    "no-unused-expressions": "warn",
    "no-useless-concat": "warn",
    "block-scoped-var": "error",
    "consistent-return": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "operator-linebreak": "off",
    "arrow-parens": "off",
    "eol-last": ["error", "always"]
  }
}
