0.0.0.0:2015
root /var/www/html
log stdout
errors stdout
rewrite {
  if  {path} not_match ^\/0.0.0.0
  to  {path} {path}/ /?_url={uri}
}
templates {
  ext   .js
}

gatsby_cache_control
header / {
  Cache-Control "public, max-age=0, must-revalidate"
}

header /public/static {
  Cache-Control "public, max-age=31536000, immutable"
}

header /public/static/sw.js {
  Cache-Control "public, max-age=0, must-revalidate"
}
