.Button {
    /* taken from gov bootstrap template https://github.com/bcgov/Gov-2.0-Bootstrap-Skeleton */
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1em;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
}

.Button:focus {
    outline: none;
}
/* these classes aren't capatalized for ease of using these in dynamic logic */
.Button.primary {
    background-color: #002663;
    color: #fff;
}

.Button.secondary {
    background-color: #E3A82B;
    color: #fff;
}

.Button.link {
    background-color: transparent;
    outline: none;
    color: inherit;
}
