.Button {
    background-color: hsl(0, 56%, 48%);
    transition: all .25s ease-in-out;
    user-select: none;
}

.Button:hover {
    transform: translateX(10px);
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}