
.FilterMenu {
  margin: 10px 0;
  text-align: right;
  background-color: #e9ecee;
  color: #444;
}

.FilterMenu > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  background-color: #fff;
}

@media screen and (min-width: 600px) {
  .FilterMenu {
    display: none;
  }
}