.Title {
    font-size: 2em;
    color: #234075;
    margin-bottom: 15px;
}

.Description {
    color: #002663;
}
/* .NavigationalItem {
    position: relative;
    list-style-type: none;
    width: 27.85714285714286%;
    padding-bottom: 32.16760145166612%;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(-60deg) skewY(30deg);
    float:left;
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
}

.NavigationalItem > div {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility:hidden;
    overflow: hidden;
    transform: skewY(-30deg) rotate(60deg);
    visibility: visible;
}

.NavigationalItem img {
    left:-100%; right:-100%;
    width: auto; height:100%;
    margin:0 auto;   
}

.NavigationalItem:nth-child(1n + 3)
.NavigationalItem:nth-child(2n + 3)
.NavigationalItem:nth-child(3n + 3) {
    transform: skewY(-30deg) rotate(60deg) translateY(-5%);
} */