.Search {
  display: flex;
  align-items: center;
}

.Search input {
  margin-right: 10px;
  padding: 4px 5px;
  flex-basis: 250px;
  flex-grow: 1;
  transition: all .25s;
  max-width: 400px;
}

.Search button {
  padding: 4px 15px;
}