.DesignSystem {
    display: flex;
    flex-wrap: wrap;
}

.Panel {
    flex: 1 0 200px;
}

.Header h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0 4px;
    text-align: center;
    color: #036;
}

.Header .SourceTags {
    list-style: none;
    font-size: 25px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SourceTags li {
    margin: 0 4px;
    flex-basis: 26px;
    text-align: center;
}

.SourceTags a {
    cursor: pointer;
    color: #3e3e3e;
}

.SourceTags a:visited {
    color: #3e3e3e;
}

.Header > div {
    padding: 10px;
    align-self: flex-end;
}

.Content {
    background-color: #fff;
    min-width: 250px;
    flex: 1 1 400px;
}

.MarkdownBody {
    padding: 10px;
}

.MarkdownBody > h1:first-child {
    margin-top: 0;
}

.MarkdownBody > * {
    margin-bottom: 10px;
}

.MarkdownBody pre {
    border-radius: 4px;
}

.MarkdownBody h1,
.MarkdownBody h2,
.MarkdownBody h3,
.MarkdownBody h4,
.MarkdownBody h5,
.MarkdownBody h6 {
    color: #6d6d6d;
    font-weight: 400;
}

.MarkdownBody p {
    line-height: 1.25em;
    color: #3e3e3e;
}

.MarkdownBody img {
    max-width: 100%;
}

.MarkdownBody a {
    color: #00996a;
    font-weight: 600;
    transition: all .15s ease-in;
}

.MarkdownBody a:hover {
    color: #0d553f;
}

@media screen and (min-width: 500px) {
    .Header {
        margin-bottom: 5px;
        border-bottom: 1px solid #ccc;
    }

    .Panel {
        max-width: 200px;
    }
}