.Header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.Header h1 {
    font-size: 48px;
    margin: 10px;
    color: #036;
}

.Nav {
    list-style: none;
    display: flex;
    font-size: 18px;
    padding: 0;
    margin: 10px 0;
}

.Nav li {
    padding: 5px 8px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #004d99;
    color: #fff;
}

.Nav li a {
    text-decoration: none;
    color: inherit;
}

.Nav li a:visited {
    color: inherit;
}

.Header .List {
    list-style: none;
    font-size: 28px;
}
.List a {
    cursor: pointer;
    color: #3e3e3e;
}
.List a:visited {
    color: #3e3e3e;
}
.Header > div {
    padding: 10px;
    align-self: flex-end;
}

.Content {
    background-color: #fff;
}
.MarkdownBody {
    padding: 10px;
}
.MarkdownBody > h1:first-child {
    margin-top: 0;
}
.MarkdownBody > * {
    margin-bottom: 10px;
}
.MarkdownBody pre {
    border-radius: 4px;
}
.MarkdownBody h1,
.MarkdownBody h2,
.MarkdownBody h3,
.MarkdownBody h4,
.MarkdownBody h5,
.MarkdownBody h6 {
    color: #6d6d6d;
    font-weight: 400;
}

.MarkdownBody p {
    line-height: 1.25em;
    color: #3e3e3e;
}

.MarkdownBody img {
    max-width: 100%;
}

.MarkdownBody a {
    color: #00996a;
    font-weight: 600;
    transition: all .15s ease-in;
}

.MarkdownBody a:hover {
    color: #0d553f;
    transform: scale(1.1);
}