.Header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.Header h1 {
    font-size: 48px;
    margin: 10px;
    color: #036;
}

.Nav {
    list-style: none;
    display: flex;
    font-size: 18px;
    padding: 0;
    margin: 10px 0;
}

.Nav li {
    padding: 5px;
}

.Nav li a {
    text-decoration: none;
    color:#036;
}

.Nav li a:visited {
    color: inherit;
}

.Header .List {
    list-style: none;
}

.Header > div {
    padding: 10px;
    background-color: #fafafa;
    flex: 0 0 250px;
}

.MarkdownBody {
    padding: 10px;

}
.MarkdownBody > * {
    margin-bottom: 10px;
}
.MarkdownBody h1,
.MarkdownBody h2,
.MarkdownBody h3,
.MarkdownBody h4,
.MarkdownBody h5,
.MarkdownBody h6 {
    color: #222;
}

.MarkdownBody p {
    line-height: 1.25em;
    color: #3e3e3e;
}

.MarkdownBody pre {

}