.MarkdownBody {
    max-width: 800px;
}

.MarkdownBody h1,
.MarkdownBody h2,
.MarkdownBody h3,
.MarkdownBody h4,
.MarkdownBody h5,
.MarkdownBody h6 {
    color: #494949;
    font-weight: 700;
    margin: 1em 0 0.6em 0;
    font-family: 'Noto Sans'
}

.MarkdownBody pre {
    background-color: #2e2e2e;
}

.MarkdownBody pre > span {
    padding: 1em 0 0 .5em;
}

.MarkdownBody a {
    color: #1A5A96;
    text-decoration: underline;
}

.MarkdownBody a:hover {
    color: blue;
    text-decoration: none;

}

.MarkdownBody table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    border-collapse:
    collapse; border-spacing: 0;
}

.MarkdownBody td, .MarkdownBody th {
    border: 1px solid #ccc; /* No more visible border */
    height: 30px;
    transition: all 0.15s;  /* Simple transition for hover effect */
}

.MarkdownBody th {
    background: #a1bdd8;  /* Darken header a bit */
    font-weight: bold;
    text-align: center;
    word-break: initial;
}

.MarkdownBody td {
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
.MarkdownBody tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
.MarkdownBody tr:nth-child(odd) td { background: #FEFEFE; }

.MarkdownBody tr td:hover { background: #bbb; color: #FFF; }
/* Hover cell effect! */


.TemplateContainer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 75px;
}

.SidePanel {
    display: flex;
    flex-direction: column;
    flex: 1 0 200px;
}

.Content {
    background-color: #fff;
    min-width: 250px;
    flex: 1 1 400px;
    padding: 1em;
}

@media screen and (min-width: 768px) {
    .TemplateContainer {
        padding-left: 250px;
    }

    .Header {
        margin-bottom: 5px;
        background-color: inherit;
    }

    .SidePanel {
        max-width: 250px;
        background-color: #e0e0e0;
        margin-left: 1em;
    }

    .Content {
        padding: 1em 3em;
    }
}
