
.MarkdownBody h1,
.MarkdownBody h2,
.MarkdownBody h3,
.MarkdownBody h4,
.MarkdownBody h5,
.MarkdownBody h6 {
    color: #6d6d6d;
    font-weight: 400;
    margin: 1em 0 0.6em 0; 
}

.MarkdownBody pre {
    background-color: #2e2e2e;
}

.MarkdownBody pre > span {
    padding: 1em 0 0 .5em;
}

.MarkdownBody a {
    color: #00996a;
    font-weight: 600;
    transition: color .15s ease-in;
}

.MarkdownBody a:hover {
    color: #0d553f;
}

.MarkdownBody table {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%; 
    border-collapse: 
    collapse; border-spacing: 0; 
}

.MarkdownBody td, .MarkdownBody th {  
    border: 1px solid #ccc; /* No more visible border */
    height: 30px; 
    transition: all 0.15s;  /* Simple transition for hover effect */
}

.MarkdownBody th {  
    background: #a1bdd8;  /* Darken header a bit */
    font-weight: bold;
    text-align: center;
    word-break: initial;
}

.MarkdownBody td {  
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */        
.MarkdownBody tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
.MarkdownBody tr:nth-child(odd) td { background: #FEFEFE; }  

.MarkdownBody tr td:hover { background: #bbb; color: #FFF; }  
/* Hover cell effect! */
