.Logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: inherit;
    margin: 0 10px 0 0;
}

.Logo:hover {
    text-decoration: none;
    color: inherit;
}

.Logo {
    text-decoration: none;
    color: #fff;
}

.Logo:visited {
    color: inherit;
}