.SecondaryFilter {
  display: none;
}
@media screen and (min-width: 600px) {
  .SecondaryFilter {
    display: block;
    width: 255px;
    margin-right: 45px;
    height: 400px;
    box-sizing: border-box;
    padding: 10px;
    border-left: 2px dashed #ccc;
  }
}