.ResourcePreview {
  margin: 0 auto 15px;
  max-width: 1100px;
}

.Title {
  font-size: 1.5em;
  padding: 10px 4px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: 600;
}

.Link {
  margin-left: auto;
  text-decoration: underline;
  color: #1a5a96;
  font-weight: 400;
  text-transform: capitalize;
  padding: 0 4px;
  margin: 0 2px;
}

.LinkContainer {
  text-align: right;
  margin-top: 15px;
}