.Resource {
}

.Resource .Title {
    text-transform: capitalize;
    font-size: 24px;
    border: none;
    display: none;
}

.Resource .Items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media screen and (min-width: 500px) {
    .Resource {
        padding: 0 10px;
    }

    .Resource .Title {
        font-size: 32px;
        display: block;
    }

    .Resource .Items {
        justify-content: flex-start;
    }
}