.Navbar {
    background-color: #38598a;
    color: #FFF;
    position: fixed;
    left: 0;
    right: 0;
    top: 65px;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .25);
    z-index: 150;
}

.Navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.Navbar ul li {
    height: 44px;
    margin-bottom: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbar ul a {
    color: inherit;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    padding: 0 10px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.Navbar ul a:visited {
    color: inherit;
}

.Navbar ul li:not(.ActiveFilter):hover {
    text-decoration: underline;
}

.Navbar .largeOnly {
    display: none;
}

.ActiveFilter {
    background-color: rgba(123, 162, 204, 0.5);
    border-bottom: 2px solid #fcc219;
}

@media screen and (min-width: 932px) {
    .Navbar {
        padding: 0 65px;
    }

    .Navbar .mobileOnly {
        display: none;
    }

    .Navbar ul li:first-child {
        flex-basis: 75px;
        text-align: center;
    }

    .Navbar .largeOnly {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
    }
}
