.PrimaryHeader {
    background-color: #036;
    border-bottom: 2px solid #fcba19;
    padding: 9px 10px 10px;
    color: #fff;
    display: flex;
    align-items: center;
}

.PrimaryHeader .Logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.PrimaryHeader .Logo:visited {
    color: inherit;
}