.PrimaryHeader {
    background-color: #036;
    border-bottom: 2px solid #fcba19;
    padding: 0 12px 0 25px;
    color: #fff;
    display: flex;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .25);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.Other {
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.PrimaryHeader .Hamburger {
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .PrimaryHeader {
        padding: 0 65px 0 65px;
    }
}

@media screen and (min-width: 750px) {
    .PrimaryHeader .Hamburger {
        display: none;
    }
}
