.SidePanel {
  flex: 1 0 200px;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .Header {
      margin-bottom: 5px;
      background-color: inherit;
  }

  .SidePanel {
      width: 260px;
      position: fixed;
      left: 0;
      bottom: 47px;
      top: 52px;
  }
}
