.Card {
  width: 250px;
  height: 225px;
  background: #FFFFFF;
  border: 1px solid #AFAFAF;
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.25); 
  border-radius: 1px;
  padding: 13px 13px calc(13px + 3em);
  margin: 5px;
  text-decoration: none;
  transition: all .25s ease-out;
  position: relative;
}
.Card:hover {
  transform: translateY(-3px);
  box-shadow: 1px 3px 3px 0 rgba(0,0,0,0.25);
}
.Wrapper {
  text-decoration: none;
  color: initial;
}

.Wrapper:focus, .Wrapper:hover {
  text-decoration: none;
  color: initial;
}

.Card header h2 {
  font-weight: 700;
  font-size: 20px;
  color: #494949;
  line-height: 1.3;
  word-break: break-word;
  margin-bottom: 0;
}

.Card  .ResourceType h4 {
  font-size: 14px; 
  color: #616265;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.ResourceType small {
  margin-left: 4px;
}

.Card p {
  font-size: 14px; 
  line-height: 1.4;
  color: #494949;
  margin-bottom: 0;
}

.Card .Metadata {
  flex: 0 0 2em; 
  position: absolute;
  bottom: 0;
  padding: 0 13px 13px;
  height: 3em;
  left: 0;
  right: 0;
}
