.Card {
    width: 250px;
    height: 350px;
    background-color: #fff;
    padding: 14px 17px 32px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    color: #3b3b3b;
    flex-shrink: 0;
    margin: 10px 20px 10px 0px;
    transition: box-shadow 0.25s ease-out;
  }
  
  .Card:hover {
    box-shadow: 0 0 2px 2px rgba(0, 44, 95, 0.25);
  }
  .Card h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 0.8em;
    flex-shrink: 0;
    max-height: 2em;
  }
  
  .Card h2 a {
    font-weight: 400;
    margin-bottom: 13px;
    font-size: 20px;
  }
  
  .Card h2 svg {
    margin-right: 10px;
    color: #6d6d6d;
  }  
  
  .Card a {
    color: #242424;
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
  }
  
  .Body {
    overflow: hidden;
    flex-grow: 1;
    box-sizing: border-box;
  }

  .BodyDescription {
    font-size: 16px;
    line-height: 1.2em;
  }

  .BodyDescription p {
    margin-bottom: 0;
  }

  .Body img {
    max-height: 100%;
  }

  .BodyImage {
    margin-top: 10px;
    text-align: center;
    height: 125px;
    display: block;
  }

  .Actions {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 14px;
  }
  
  .Actions ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row none;
    justify-content: flex-start;
    align-items: center;
  }
  
  .Actions li {
    flex-basis: 25px;
  }
  
  @media screen and (min-width: 480px) {
    .Card {
      width: 214px;
      height: 300px;
    }
  }
  