.Card {
    width: 250px;
    height: 350px;
    background-color: #fff;
    padding: 14px 17px 32px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    color: #3b3b3b;
    flex-shrink: 0;
    margin: 10px;
    transition: box-shadow 0.25s ease-out;
  }

  .Card:hover {
    box-shadow: 0 0 2px 2px rgba(0, 44, 95, 0.25);
    cursor: pointer;
  }

  .Card h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
    font-weight: 400;
    margin-bottom: 13px;
    font-size: 20px;
  }
  
  .Card h2 svg {
    margin-right: 10px;
    color: #6d6d6d;
  }  
  
  .Card a {
    color: #242424;
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
  }
  
  .Head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .Head h2 {
    flex-basis: 75%;
    margin: 0;
    flex-grow: 1;
  }

  .Head .Avatar {
    display: inline;
    border-radius: 50px;
    overflow: hidden;
  }

  .Body {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    box-sizing: border-box;
  }

  .BodyDescription {
    font-size: 16px;
    line-height: 1.2em;
  }

  .BodyDescription p {
    margin-bottom: 0;
  }

  .Body img {
    max-height: 100%;
  }

  .BodyImage {
    margin-top: 10px;
    text-align: center;
    height: 125px;
    display: block;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ResourceType {
    color: #6d6d6d;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 14px;
  }
  
  .ResourceType p {
    margin: 0;
  }
  
  .Actions ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row none;
    justify-content: flex-start;
    align-items: center;
  }
  
  .Actions li {
    flex-basis: 25px;
  }
