.Card {
    width: 250px;
    height: 350px;
    background-color: #fff;
    padding: 14px 17px 32px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    color: #3b3b3b;
    flex-shrink: 0;
    margin: 10px 20px 10px 0px;
    transition: box-shadow .25s ease-out;
}

.Card:hover {
    box-shadow: 0 0 2px 2px rgba(0, 44, 95, .25);
}
.Card h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: .8em;
}
.Card h2 a {
    font-weight: 400;
    margin-bottom: 13px;
    font-size: 20px;
}

.Card h2 span {
    margin-left: 10px;
    color: #242424;
}

.Card a {
    color: #6d6d6d;
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize
}

.Card p {
    font-size: 14px;
    line-height: 1.2em;
}
.Body {
    overflow: auto;
    padding-right: 8px;
}
.Actions {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 14px;
}

.Actions ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row none;
    justify-content: flex-start;
    align-items: center;
}

.Actions li {
    flex-basis: 25px;
}

@media screen and (min-width: 480px) {
    .Card {
        width: 214px;
        height: 300px;
    }
}
