.Card {
    width: 250px;
    height: 350px;
    background-color: #fff;
    /* padding: 14px 17px 32px; */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    color: #3b3b3b;
    flex-shrink: 0;
    margin: 10px;
    box-shadow: 0 1px 2px 2px #ccc;
    transition: box-shadow 0.25s ease-out, transform .25s ease-out;
  }

  .Card:hover {
    box-shadow: 0 2px 4px 2px rgba(0, 44, 95, 0.25);
    transform: translateY(-6px);
  }

  .Card h2 svg {
    margin-right: 10px;
    color: #6d6d6d;
  }  
  
  .Card a {
    color: #242424;
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
  }

  .Head, .Body, .Foot, .Ribbon {
    padding: 4px 6px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .Head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

  .Head h2 {
    flex: 1 0 75%;
    margin: 0;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .Head h2 a {
    font-size: 20px;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .Head .Avatar {
    display: inline;
    border-radius: 50px;
    overflow: hidden;
  }

  .Body {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    box-sizing: border-box;
  }

  .BodyDescription {
    font-size: 16px;
    line-height: 1.2em;
  }

  .BodyDescription p {
    margin-bottom: 0;
  }

  .Body img {
    max-height: 100%;
    max-width: 100%;
  }

  .BodyImage {
    margin: 10px 0;
    text-align: center;
    max-height: 125px;
    position: relative;
    flex-grow: 1;
  }

  .BodyImage a {
    position: absolute;
    width: 100%;
    display: block;
    height: 100%;
  }

  .Ribbon {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    padding: 5px 0;
  }

  .Ribbon li a {
    font-size: 19px;
    color: #38598a;
    transition: color .25s ease-out;
  }

  .Ribbon li a:hover {
    color: #00316b;
  }

  .Card .Ribbon:nth-of-type(1) {
    border-top: 1px solid #00316b
  }

  .Card .Ribbon:nth-of-type(2) {
    border-top: 1px solid #1a5a96
  }

  .Card .Ribbon:nth-of-type(3) {
    border-top: 1px solid #5475a7
  }

  .Ribbon li {
    margin: 0 5px;
  }

  .Foot {
    border-top: 1px solid #ccc;
    color: #6d6d6d;
    font-weight: 400;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 14px;
  }
  
  .Foot p {
    margin: 0;
  }
  
  .Actions ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row none;
    justify-content: flex-start;
    align-items: center;
  }
  
  .Actions li {
    flex-basis: 25px;
  }

  @media screen and (min-width: 500px) {
    .Card {
      width: 220px;
      height: 308px;
    }
  }

  @media screen and (min-width: 641px) {
    .Card {
      width: 250px;
      height: 350px;
    }
  }