.venn_diagram {
    position: relative;
}

.center {
    position: absolute;
    top: 180px;
    left: 230px;
}

.venn p {
    color: #000;
    font-size: 18px;
    width: 600px;
    text-align: justify;
    margin: 1em 0;
  }