.Navigation {
    margin-bottom: 4px;
}

.Navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    max-height: 100px;
}
.Navigation ul::-webkit-scrollbar-track {
    padding: 2px 0;
}

.Navigation ul::-webkit-scrollbar {
    width: 10px;
}

.Navigation ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #737272;
}

.Navigation a {
    overflow: hidden;
    color: #2e2e2e;
    display: inline-block;
    width: 100%;
    padding: 4px;
    text-overflow: ellipsis;
}

.Navigation a:visited {
    color: #2e2e2e;
}

@media screen and (min-width: 600px) {
    .Navigation ul {
        max-height: 500px;
    }
}
