* {
    margin: 0;
    box-sizing: border-box;
  }

body, html {
  height: 100%;
}

body {
  font-family: 'PT Sans', 'Sans Serif', Arial;
  margin: 0;
  padding: 0;
  min-width: 320px;
  overflow-x: auto;
  background: #ebebeb;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

.large-screen {
  display: none;
}

@media screen and (min-width: 600px) {
  .small-screen {
    display: none;
  }

  .large-screen {
    display: block;
  }
}

