* {
    margin: 0;
    box-sizing: border-box;
  }

body, html {
  height: 100%;
}

body {
  font-family: 'Myriad-Pro', Calibri, Arial, 'Sans Serif';
  margin: 0;
  padding: 0;
  min-width: 320px;
  overflow-x: auto;
  background: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 25px;
}