.FilterGroup {
  margin-bottom: 5px;
}

.Title {
  font-weight: 600;
  color: #494949;
  font-size: 14px;
  margin-bottom: 0;
}

.FilterGroup label {
  font-weight: 400;
  /* font-size: 15px; */
}

.FilterGroup .form-check-input {
  border-radius: 0;
  border: 1px solid #ccc;
}
/* 
.FilterGroup form {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: Arial;
}

.FilterGroup ul li {
  margin: 4px;
  transition: color .25s ease-out;
  color: #535353e8;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.FilterGroup li input {
  font-size: inherit;
}

.FilterGroup input:disabled ~ label {
  color: #ccc;
}

.FilterGroup label {
  cursor: pointer;
  margin-left: 4px;
  margin-bottom: 0;
}

.FilterGroup button {
  background: transparent;
  border: none;
  font-family: inherit;
  text-transform: inherit;
  outline: none;
  padding: 0;
  cursor: pointer;
}

.FilterGroup li .link {
  color: inherit;
}

.FilterGroup li:not(.active):not(.Disabled):hover {
  color: #0e3b6ddb;
}

.FilterGroup li.active .link {
  color: #222;
  text-decoration: underline;
}

.FilterGroup li .Icon {
  margin-right: 5px;
  color: #5091cdba;
}

.FilterGroup li .FilterCount {
  color: #919191;
  margin-left: 5px;
}

.FilterGroup li.Disabled {
  color: #c4c4c4;
}

.FilterGroup li.Disabled button {
  cursor: default;
} */