.Main {
    padding: 0 15px 30px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.Main > h1 {
    margin-top: 0;
    color: #242424;
    font-size: 42px;
    font-weight: 400;
}

.Main > h2 {
    font-size: 14px;
    margin-bottom: 15px;
    color: #5091cd;
    font-weight: 300;
}

.Main > p {
    margin-bottom: 20px;
    max-width: 738px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
}

.CardContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.PersonaButton {
    margin: .7em;
}

@media screen and (min-width: 500px) {
    .Main {
        padding: 25px 35px 30px;
    }

    .CardContainer {
        align-items: flex-start;
    }
}