.Main {
    margin-bottom: 5px;
    margin-top: 27px;
}

.Main>h1 {
    margin-top: 0;
    color: #242424;
    font-size: 42px;
    font-weight: 400;
}


.Main>h2 {
    font-size: 14px;
    margin-bottom: 15px;
    color: #5091cd;
    font-weight: 300;
}

.Main>p {
    margin-bottom: 20px;
    max-width: 738px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
}

.Right {
    flex-grow: 1;
}

.WithBlocker::after {
    width: 100%;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    background-color: #fff;
}


@media screen and (min-width: 500px) {
    .Main {
        margin-top: 45px;
    }
}