.Main {
    padding: 15px 40px;
}

.Main .Para {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.3em;
}

@media screen and (min-width: 500px) {
    .Main {
        padding: 10px 35px;
    }
}