.Main {
    padding: 0 15px 30px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.Main > h1 {
    margin-top: 0;
    color: #242424;
    font-size: 42px;
    font-weight: 400;
}

.Main > h2 {
    font-size: 14px;
    margin-bottom: 15px;
    color: #5091cd;
    font-weight: 300;
}

.Main > p {
    margin-bottom: 20px;
    max-width: 738px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
}

.CardContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 25px;
}

.PersonaButton {
    margin: .7em;
}

.ListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.WithBlocker::after {
    width: 100%;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    background-color: #fff;
}

@media screen and (min-width: 500px) {
    .Main {
        padding: 25px 35px 30px;
    }

    .ListContainer {
        justify-content: flex-start;
        flex-direction: row;
    }

    .CardContainer {
        align-items: flex-start;
    }
}