.CardsContainer {
  margin-bottom: 15px;
}

.Cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.TopicContainer h1 {
  flex-grow: 1;
  font-size: 31.1px;
  border-bottom: 0;
  font-weight: 700;
  color: #494949;
  margin-left: 10px;
}

.CardsContainer:nth-child(n+2) h1 {
  margin-top: 15px;
}


.TopicContainer p {
  margin: 9px 0 15px 10px;
  max-width: 750px;
}

.TopicContainer a {
  color: #242424;
  font-size: 28px;
}

.ToggleButton {
  text-align: left;
  font-size: 17px;
}

.LargeView {
  display: none;
}

.MobileView {
  display: block;
}

@media screen and (min-width: 600px) {
    .MobileView {
      display: none;
    }
    .LargeView {
      display: block;
    }
    .Cards {
        justify-content: flex-start;
    }
    .CardsContainer {
        margin-bottom: 20px;
    }
}
