
.FilterGroup h2 {
  font-weight: 300;
  color: rgba(0, 0, 0, .55);
  font-size: 1.5em;
  margin-bottom: 20px;
}

.FilterGroup ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 12px;
  font-family: Arial;
  margin-left: 10px;
  margin-bottom: 20px;
}

.FilterGroup ul li {
  transition: color .25s ease-out;
  color: #535353e8;
  text-transform: uppercase;
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.FilterGroup li a {
  color: inherit;
}
.FilterGroup li:not(.active):hover {
  color: #0e3b6ddb;
}

.FilterGroup li.active a {
  color: #222;
  text-decoration: underline;
}

.FilterGroup li.active::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #5091cdba;
}

.FilterGroup li.active:hover {
  color: #535353e8;
}

.FilterGroup li.active:hover::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  opacity: .5;
  transition: opacity .25s ease-out;
}
.FilterGroup li.active::after {
  text-decoration: none;
}
.FilterGroup li::after {
  content: attr(data-count);
  color: #919191;
  margin-left: 5px;
}