.Logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: inherit;
    margin: 0 10px 0 0;
}
.Logo:hover {
  text-decoration: none;
  color: inherit;
}
.Logo a:visited {
    color: inherit;
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    .Logo h1 {
      font-size: calc(7px + 2.2vw);
      visibility: visible;
    }
  }
  
  @media screen and (min-width: 900px) {
    .Logo h1 {
      font-size: 2.0em;
      display: block;
    }
  }