.Logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.Logo:visited {
    color: inherit;
}

.Logo h1 {
    font-size: 20px;
}


@media screen and (min-width: 500px) {
    .Logo h1 {
        font-size: 24px;
    }   
}