.PrimaryFilter {
    background-color: #38598a;
    color: #FFF;
    position: fixed;
    left: 0;
    right: 0;
    top: 65px;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .25);
    z-index: 150;
}

.PrimaryFilter ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.PrimaryFilter ul li {
    height: 44px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PrimaryFilter ul a {
    padding: 10px;
    flex: 1 0 auto;
    height: 100%;
    display: inline-block;
    color: inherit;
    cursor: pointer;
}

.PrimaryFilter ul a:visited {
    color: inherit;
}

.PrimaryFilter ul li:not(.ActiveFilter):hover {
    text-decoration: underline;
}

.PrimaryFilter .largeOnly {
    display: none;
}

.ActiveFilter {
    background-color: rgba(123, 162, 204, 0.5);
    border-bottom: 2px solid #fcc219;
}

@media screen and (min-width: 750px) {
    .PrimaryFilter {
        padding: 0 65px;
    }

    .PrimaryFilter .mobileOnly {
        display: none;
    }

    .PrimaryFilter ul li:first-child {
        flex-basis: 85px;
        text-align: center;
    }

    .PrimaryFilter .largeOnly {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
    }
}
