/* very important to have the min width attribute
    for some reason prism js <code/pre> tags behave strangely and
    grow to huge widths without this prop being set.
*/
.MarkdownBody {
    min-width: 250px;
    flex-grow: 1;
}

/*
allows iframes to 'flex'
*/
.MarkdownBody iframe {
    width: 100%;
    min-width: 400px;
}