.Item {
    flex-basis: 284px;
    height: 330px;
    margin: 15px 0;
    flex-shrink: 0;
    box-shadow: 0 0 1px 1px #ccc;
    position: relative;
    overflow-y: overlay;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    transition: transform .35s ease-out, box-shadow .35s ease-out;
}

.Item .SourceLabel {
    position: absolute;
    top: 0;
    padding: 4px;
    border-bottom-left-radius: 8px;
    background-color: #c1d0e3;
    color: #444;
    right: 0;
    font-size: 12px;
    font-weight: 700;
    max-width: 89px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: pre;
}

.Item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 1px 3px 4px #ccc;
}

.Item header {
    font-size: 20px;
    text-align: left;
    margin: 0;
    padding: 4px 9px 6px;
    -ms-flex-preferred-size: 46px;
    background-color: #f7f7f7;
    flex: 0 0 71px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid #ccc;
}

/* for some flair */
.Item header::after {
    position: absolute;
    content: '';
    width: 45px;
    height: 4px;
    background: #3690f0; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #3690f0 33%, #23588e 33%, #23588e 66%, #fcba19 66%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3690f0 33%,#23588e 33%,#23588e 66%,#fcba19 66%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #3690f0 33%,#23588e 33%,#23588e 66%,#fcba19 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3690f0', endColorstr='#fcba19',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    bottom: -2px;
    left: 10px;
}

.Item header h1 {
    color: #717388;
    font-size: 18px;
    border-bottom: 0;
    margin: 0;
    max-width: 165px;
}
.Item .Body {
    overflow: overlay;
    padding: 5px 10px;
    flex-grow: 1;
}


.Item .Bottom {
    bottom: 0;
    flex-basis: 25px;
    padding: 17px 10px;
    border-top: 1px solid #ccc;
    display: flex;
    left: 0;
    right: 0;
    background-color: #23588e;
    align-items: center;
}

.Action {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.Action:visited {
    color: #fff;
}
.Action:hover {
    color: #e3a82b;
}


.Item p {
    line-height: 1.4em;
}

@media screen and (min-width: 500px) {
    .Item {
        flex-basis: 250px;
        margin: 15px 10px;
        height: 290px;
        flex-shrink: 0;
        box-shadow: 0 0 1px 1px #ccc;
        position: relative;
        overflow-y: overlay;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        transition: transform .35s ease-out, box-shadow .35s ease-out;
    }

    .Item .SourceLabel {
        display: none;
    }

    .Item header h1 {
        max-width: initial;
    }
}