.Item {
    flex-basis: 250px;
    margin: 15px 10px;
    padding: 5px 8px 40px;
    height: 290px;
    flex-shrink: 0;
    box-shadow: 0 0 1px 1px #ccc;
    position: relative;
    transition: transform .35s ease-out, box-shadow .35s ease-out;
}
.Item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 1px 3px 4px #ccc;
}
.Item .Bottom {
    position: absolute;
    bottom: 0;
    height: 25px;
    padding: 17px 10px;
    border-top: 1px solid #ccc;
    display: flex;
    left: 0;
    right: 0;
    background-color: #23588e;
    align-items: center;
}

.Action {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.Action:visited {
    color: #fff;
}
.Action:hover {
    color: #e3a82b;
}

.Item h1 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
    color: #717388;
}

.Item p {
    line-height: 1.4em;
}