.TemplateContainer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 52px;
}

.SidePanel {
    flex: 1 0 200px;
}

.Content {
    background-color: #fff;
    min-width: 250px;
    flex: 1 1 400px;
    padding: 1em;
}

@media screen and (min-width: 768px) {
    .TemplateContainer {
        padding-left: 250px;
    }

    .Header {
        margin-bottom: 5px;
        background-color: inherit;
    }

    .SidePanel {
        max-width: 250px;
        background-color: #e0e0e0;
        margin-left: 1em;
    }

    .Content {
        padding: 1em 3em;
    }
}
