.DesignSystem {
    display: flex;
    flex-wrap: wrap;
}

.Panel {
    flex: 1 0 200px;
}
.Header {
    background-color: #fff;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
}
.Header h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 4px;
    text-align: center;
    color: #036;
}

.Header .SourceTags {
    list-style: none;
    font-size: 25px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SourceTags li {
    margin: 0 4px;
    flex-basis: 26px;
    text-align: center;
}

.SourceTags a {
    cursor: pointer;
    color: #3e3e3e;
}

.SourceTags a:visited {
    color: #3e3e3e;
}

.Header > div {
    padding: 10px;
    align-self: flex-end;
}

.Content {
    background-color: #fff;
    min-width: 250px;
    flex: 1 1 400px;
}

@media screen and (min-width: 600px) {
    .Header {
        margin-bottom: 5px;
        background-color: inherit;
    }

    .Panel {
        max-width: 200px;
    }
}
