name: Unit Tests (Web)
on: 
  pull_request:
    paths:
    - 'app-web
jobs:
  build:

    runs-on: ubuntu-16.04

    strategy:
      matrix:
        node-version: [ 10.x ]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - uses: bahmutov/npm-install@v1
      with:
        working-directory: app-web
    - name: npm install, lint and test
      run: |
        cd app-web
        npm run test:lint
        npm test
      env:
        CI: true
        GITHUB_TOKEN: ${{secrets.GITHUB_API_TOKEN}}
        EVENT_BRITE_API_KEY: ${{secrets.EVENT_BRITE_API_KEY}}
        GATSBY_MATOMO_SITE_ID: ${{secrets.GATSBY_MATOMO_SITE_ID}}
        GATSBY_MATOMO_URL: ${{secrets.GATSBY_MATOMO_URL}}
        GATSBY_MATOMO_SITE_URL: ${{secrets.GATSBY_MATOMO_SITE_URL}}
        MATOMO_API_KEY: ${{secrets.MATOMO_API_KEY}}
        GATSBY_ALGOLIA_APP_ID: ${{secrets.GATSBY_ALGOLIA_APP_ID}}
        GATSBY_ALGOLIA_SEARCH_KEY: ${{secrets.GATSBY_ALGOLIA_SEARCH_KEY}}
        GATSBY_ACTIVE_ENV: "test"
