.Masthead {
    background-color: #fafafa;
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 25px 15px 30px;
    flex-flow: column nowrap;
}

.Masthead header {
    margin-bottom: 25px;
}


@media screen and (min-width: 500px) {
    .Masthead {
        padding: 50px 15px 55px;
    }
}
